body {
  font-family: 'Merienda', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.65;
  background-color: #fe9482;
  color: #1c4d0c;
  font-size: 18px;
  padding: 20px;
}

main {
  width: 600px;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.85em;
}
